$Inter:'Inter', sans-serif;

body{
    font-family: $Inter;
}
.main-text{
    h1{
        color: $White;
    }
    span{
        color: $Softviolet;
    }
    p{
        color: $Slightlytransparentwhite1;
    }
}
.stats{
    div{
        h2{
            color: $White;
            font-weight: 700;
        }
        h5{
            color: $Slightlytransparentwhite2;
            text-transform:uppercase;
            font-weight: 400;
        }
    }
}

//Courtesy styling
.attribution { font-size: 11px;
    text-align: center;
    color: $White;
}
.attribution a { color: $Softviolet;
}